    <nav>
        <a href="index.html" class="brand">
            <img class="logo" src="bolqrka1.jpeg" />
            <span>Алкохол</span>
        </a>
        <input id="clickMenu" type="checkbox" class="show">
        <label for="clickMenu" class="burger pseudo button">меню</label>

        <div class="menu">
            <a href="Bolqrka.html" class="{% if page.name != 'Bolqrka.html' %}pseudo{%endif %} button">Болярка<a>
    <a href="Pirinsko.html" class="pseudo button">Пиринско</a>
    <a href="Bira.html" class="pseudo button">Арияна</a>
</div>
    </nav>